<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <ul>
    <% for(let camp of allCamps) { %>
        <li><%= camp.title %> located in <%= camp.location %>  and costs $<%= camp.price %> </li>
    <% } %>
    </ul>
</body>
</html>