<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Camp</title>
</head>
<body>
    <form method="POST" action="/campgrounds/add_camp">
        <input name="title" type="text" placeholder="Enter title of camp">
        <input name="price" type="text" placeholder="Enter price of stay">
        <input name="location" type="text" placeholder="Enter location of camp">
        <button>Click to add camp</button>
    </form>
</body>
</html>