<% layout('layouts/boilerplate') %> 
    <h1><%= foundCamp.title %> </h1>
    <h2>Located in: <%= foundCamp.location %> </h2>
    <h2>Costs $<%= foundCamp.price %> per night of stay</h2>
    <a href="/campgrounds">Go back to all camps</a>
    <a href="/campgrounds/<%= foundCamp._id %>/edit">Click to edit</a>
